Cython==0.25.2
pyOpenSSL==17.0.0
backports.functools_lru_cache==1.3
certifi==2017.4.17
charade==1.0.3
ed25519ll==0.6
Genshi==0.7
ipaddr==2.1.11
jsonschema==2.6.0
keyring==10.3.2
lxml==3.7.3
ndg_httpsclient==0.4.2
ordereddict==1.1
pyasn1==0.2.3
pytest==3.0.7
redis==2.10.5
setuptools_svn==1.2
simplejson==3.10.0
wincertstore==0.2
pyxdg==0.25
mysqlclient==1.3.10
