PyMySQL==1.1.1
Cython==3.0.5
pyOpenSSL==23.3.0
backports.functools_lru_cache==1.6.6
certifi==2023.7.22
charade==1.0.3
Genshi==0.7.7
ipaddr==2.2.0
keyring==24.2.0
lxml==4.9.3
ndg_httpsclient==0.5.1
pyasn1==0.5.0
pytest==7.4.3
setuptools_svn==1.3.0
wincertstore==0.2
pyxdg==0.28
pyyaml==6.0.1
colorlog==6.7.0
prompt_toolkit==3.0.39
ruff==0.1.5
